/* #header */
*{
    margin: 0%;
    padding: 0%;
}

i{
    width: 100%;
    height: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
#icon-header{
    font-size: 28px;
    margin-right: 28px;
    line-height: 46px;
}
.header-logo{
    background-color: whitesmoke;
    height: 75px;
}
.dropdown-item{
    text-transform: uppercase;
    font-weight: 700;   
    font-size: 13px;
}
.free {
    margin-bottom: 0;
    font-weight: 500;
    color: rgb(184, 25, 25);
}
/* .level0{

} */

/* menu header */
.drophv:hover > .dropdown-mh{
    display: block;
}#menu-header-id{
    background-color: white;
} 
.dropdown:hover > .dropdown-wh{
    display: block;
    background-color:brown;
    color: white;
    transition: .4s ease;
}
.ct-exam{
    padding-top: 50px;
}
.drophv{
   position: absolute;
   display: block;
}
.drophv:hover{
    background-color:brown;
    color: white;
    transition: .4s ease;
}

/* .level1{

}
.level2{

} */
.level2-content{
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.level2-content:hover{
    text-decoration: none;
    color: red;
}
.menu-header{
    width: 100%;
    height: 44px;
    line-height: 12px;
}
.dropdown-mh{
    display: none;
    position: absolute;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    width: 100%;
    min-width: 160px;
    min-height: 600px;
}
.dropdown{
    position: relative;
    display: inline-block;
  
}
.h_content{
    text-decoration: none;
    color: black;    
    line-height: 100%;
    font-size: 13px;
}
.h_content:hover{
    text-decoration: none;
    color: black;
    color: rgb(184, 25, 25);
}
.sdt {
    margin-bottom: 0;
    color: rgb(184, 25, 25);
}
.evo_fashion:hover {
    text-decoration: none;
    color: black;
}
.navbar-nav.d-flex.justify-content-between{
    width: 100%;
}
.nav-item{
    width: 100%;
    font-weight: 500;
}
#nav-link-cl,
#navbarDropdownMenuLink{
    color: black;
    width: 100%;
    text-align: center;
}
.tab-link {
    float: left;
    margin: 12px 25px 0 0;
}
.tab-link span {
    font-size: 14px;
}
.tab-link span:hover {
    font-weight: 500;
    color: #af1713;
    border-bottom: 2px solid #af1713;
    transition: 0.6 all ease-in;
}
#nav-link-cl:hover,
#navbarDropdownMenuLink:hover{
    background-color:brown;
    color: white;
    height: 44px;
    margin-top: -8px;
    line-height: 25px;
}
.fa-gripfire {
    width: 42px;
    background: black;
    padding: 4px 0 4px 11px;
    font-size: 30px;
    border-radius: 3px;
    color: #af1713;
    margin-right: 10px;
}
.icon-header-ct.d-flex.justify-content-between{
    padding-left: 5%;
    width: 30%;
}
.product-sale {
    margin-top: 1rem;
    margin-bottom: 0; 
}
/* body */
#tong{
    width: 100%;
    height: 100%;
}
.body-jum-img{
    width: 100%;
    position: relative;
}
.display-4{
    position: absolute;
    bottom: 50%;
    left: 40%;
}
.lead{
    position: absolute;
    bottom: 45%;
    left: 40%;
}
.jumbotron.mb-5{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.primary-img #body-img-h{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.col-6.col-sm-3.fl-sale{
    width: 100%;
    position: relative;
}
#content-2{
    width: 100%;
}
.primary-img{
    width: 100%;
    position: relative;
}

.secondary-img{
    width: 89.5%;
    top: 0;
    position: absolute;
    opacity: 0; 
    transform: translate(-50%, -50%);
    transition: all 0.7s ease;	
    top: 42%;
    left: 50%;
}
.secondary-img:hover{
    opacity: 1;
}
.abc {
    color: #333f48;
    font-size: 36px;
    font-weight: 700;
}
.abc:hover {
    text-decoration: none;
    color: rgb(184, 25, 25);
}
.secondary-img:hover .add-gds{
    animation: abc;
    -moz-animation:  abc 0.3s linear;
    -webkit-animation:  abc  0.3s linear;
    -o-animation:  abc  0.3s linear;
    opacity: 1;
    top: 45%;
}
@keyframes abc{
    from {top: 50%;}
    to {top: 45%;}
}
.btn-in-img{
    width: 100%;
    height: 100%;
}
.fa-link {
    font-size: 16px;
}
.add-gds{
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 90px;
    font-size: 13px;
    position: absolute;
    opacity: 0;
    color: black;
    top: 45%;
    left: 45%;
    transition: btn 0.3s ease;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    outline: none;
    color: #333f48;
    padding: 0;
    border: none;
    background-color: #ffffff;
    border-radius: 50%;
}
.add-gds:hover{
    background-color: rgb(184, 25, 25);
    color: white;
    outline: none;
    border: none;
}
.label-product{
    position: absolute;
    z-index: 99;
    width: 30px;
    height: 30px;
    top: 3%;
    right: 8%;
    background-color: rgb(184, 25, 25);
    line-height: 30px;
     animation: myAnimation 1s ease infinite alternate;
    -moz-animation:  myAnimation 1s ease infinite alternate;
    -webkit-animation:  myAnimation 1s ease infinite alternate;
    -o-animation:  myAnimation 1s ease infinite alternate;
}
.lbsale{
    transform: rotate(-20deg); 
    z-index: 99;
    position: relative;
    display: inline-block;
    color: white;
    font-size: 15px;
}
@keyframes myAnimation {
    from { transform: scale(1);}
    to {transform: scale(1.1);}
}
.value-fs{
    text-align: center;
    margin-top: -12px;
}
.div_product {
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}
.div_product:hover {
    color: rgb(184, 25, 25);
}
.value-sale{
    font-size: 25px;
    color: rgb(184, 25, 25);
}
.sale_sale{
    text-decoration: line-through;
}
.navbar-nav.tt-menu{width: 70%;
}
.nav-link.tt-content{
    font-size: 12px;
    color: black;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}
.body-bg-img{
    width: 100%;
    height: 100%;
    background: no-repeat;
}
.btn.btn-outline-primary{
    color: white;
    background-color:  rgb(184, 25, 25);
    border-radius: 0px;
    border: none;
    font-size: 15px;
    padding: 9px 20px;
    font-weight: 500;
}
.btn.btn-outline-primary:hover{
    color: white;
    background-color: black;
}
.navbar-brand {
    color: #333f48 !important;
    font-size: 26px;
    font-weight: 700;
}
.content-bst.mb-4{
    text-align: center;
    padding-top: 10%;
}
.content-bst h4.mb-4{
    padding: 5px 0 5px 0;
}
.content-bst h1.mb-4{
    padding: 0 0 20px 0;
    font-size: 47px;
    font-weight: bolder;
}
.container.bst{
    padding: 40px 40px 40px 40px;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.09);
}
.container.bst img{
    padding: 0;
}

#kp-img-bst{
    padding-left: 10px;
    padding-right: 10px;    
}

#kp-img-bst:hover #ct-bst-bn{
    color: brown !important;
    text-decoration: none;
}
#kp-img-bst:hover h3 {
    color: brown !important;
}
.content-bst-bn{
   width: auto;
   height: 35px;
   line-height: 35px;
   margin-top: 20px;
}
#kp-img-bst h3{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    font-size: 25px;
    margin: 0 0 15px;
    float: left;
    border-bottom: solid 2px;
    width: 50px;
}
#kp-img-bst:hover > .content-bst-bn h3{
    width: 100px;
}
.news-title .d-flex .align-items-center{
    width: 105%;
}
#news-ttt{
    padding-left: 0px;
    padding-right: 0px;
    
}
.new-content{
    width: 100%;
    height: 380px;
    padding: 10px 3px 10px 3px;
}
.new-content a{
    text-decoration: none;
    color: black;
}
.new-title-content{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 700;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.new-content-p{
    font-size: 13px;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}

.new-content img{
    transition: transform .5s ease;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 100%;
    max-width: 100%;
}
.new-content:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    max-width: 100%;
}
.new-content:hover .new-title-content {
    color: brown;
}
.new-content img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    max-width: 100%;   
}
.new-img-ct{
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    height: 187px;
}
.new-content p{
    margin-bottom: 2px;
}
.owl-carousel .owl-theme{
    width: 100%;    
    height: 100%;
}
.item{
    width: 100%;
    height: 100%;
}
img, media {
    max-width: 100%;
    width: 100%;
}
.hide-mobile
{
    display: block;
    position: relative;
    width: 100%;
}
.feature-m-p{
    width: 100%;
    position: relative;
}
.feature-ct-fl h3{
    font-size: 20px;
}
.feature-fl{
    padding: 25px;
    width: 70%;
    height: 30%;
    background-color: white;
    opacity: 1;
    position: absolute;
    top: 70%;
    left: 15%;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.09);
    text-align: center;
}
.feature-ct{
    top: 25%;
    left: 14%;
    text-align: center;
    position: absolute;
}
.feature-m{
    width: 83%;
    padding: 10px 10px 10px 10px;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    top: 3%;
    left: 8.5%;
    height: 94.5%;
}
.feature-ct-m1{
    font-size: 25px;
    color: black;
}
.feature-ct-m2{
    font-size: 30px;
    color: rgb(184, 25, 25);
}
.feature-ct-m3{
    font-size: 120px;
    color: rgb(53, 46, 46);
    line-height: 80%;
}
.feature-ct-m4{
    font-size: 22px;
    color: rgb(53, 46, 46);
}
.feature-ct-m5{
    font-size: 22px;
    color: rgb(36, 31, 31);
}
#body-bottom{
    width: 100%;
    height: 100%;
    position: relative;
}
.img-bottom{
    background-color: black;
    color: white;
    width: 30px;
    transition: all 0.5s;
}
.rc-bottom{
    text-align: center;
    width: 100%;
}
.rc-bottom-img{
    display: inline-block;
    width: 55px;
    height: 55px;
    text-align: center;
    background-color: black;
    line-height: 55px;
    margin-bottom: 10px;
    border-radius: 45px;
    transition: btn 0.3s ease;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.rc-bottom-img:hover{
    border-radius: 5px;
}
.rc-bottom-img:hover .img-bottom{
    cursor: default; 
    transform: rotate(360deg);
    transition: all 0.5s;
}
.rc-bottom:hover a {
    color: brown;
}
.rc-bottom a{
    font-size: 14px;
    font-weight: 500;
}
.rc-bottom a:hover {
    text-decoration: none;
}
.rc-bottom p{
    font-size: 13px;
}
.footer{
    position: relative;
    width: 100%;
    height: 100%;
}
.site-footer h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
}
.site-footer{
    background-color: #24355A;

}
.site-footer ul{
    list-style: none;
}
.site-footer li{
    text-decoration: none;
    padding: 2px 0 2px 0;
}
.site-footer a{
   
    font-size: 14px;
    text-decoration: none;
    color: white;
}
.footer-playment h3 {
    margin-right: 10px;
}
.footer-playment{
    display: flex;
    align-items: center;
    
}
.footer-playment img{
    padding: 1px;
    margin-right: 8px;
}
.footer-icon{
    height: 20px;
}
.footer-icon li{
    padding: 0 3px 0 3px;
}
.footer-icon a{
    display: inline-block;
}
.footer_link:hover {
    color: brown !important;
}
#icon_link:hover {
    color: brown !important;
}
.footer-icon i {
    font-size: 26px;
    margin-right: 10px;
}
.has-validation-callback {
    margin-bottom: 0;
    position: relative;
}
.has-validation-callback input {
    padding-left: 10px;
    padding-right: 100px;
    border: 1px solid #333f48;
    color: #666;
}
.has-validation-callback button {
    background-color: #333f48;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}
.has-validation-callback button:hover {
    background-color: brown;
}
.copyright{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
}
.copyright span{
    color: white;
    font-size: 14px;   
}

@media (max-width: 575.98px){
    .example {
        width: 100%;
        height: 362px;
      }
    .secondary-img {
        display: none;
    }
    
      .example h1 {
        font-size: 2.5em;
      }
    
      .example p {
        margin-bottom: 25px;
      }
    
      .example .buttons {
        width: 100%;
        margin-top: 25px;
        text-align: center;
        display: block;
      }
    
      .example .buttons p,
      .example .buttons a {
        float: none;
        margin: 0 auto;
      }
    
      .example .buttons p {
        padding-right: 0px;
      }
    
      .example .buttons a {
        display: inline-block;
      }
    h1{
        font-size: 25px!important;
    }
    h2{
        font-size: 20px!important;
    }
    h3{
        font-size: 16px!important;
    }
    h4{
        font-size: 12px!important;
    }
    a,label{
        font-size: 10px!important;
    }
    h4{
        font-size: 10px!important;
    }
    p{
        font-size: 10px!important;
    }
    .feature-ct{
        top: 20%;
        left: 13%;
    }
    .hide-mobile
    {
        display: none;
    }
    .label-product{
        width: 15px;
        height: 15px;
    }
    .lbsale{
        font-size: 9px;
        top: -8px;
    }
    .body-bg-img{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .owl-nav{
        display: none;
    }
    .owl-dots{
        bottom: 20%;
    }
    .owl-stage-outer{
        width: 100%;
        height: 100%;
    }
    .new-content{
       height: 280px;
    }
    .feature-fl{
        display: none;
    }
    .rc-bottom{
        text-align: left;
        width: 100%;
    }
    .rc-bottom-img{
        float: left;
        margin-right: 4%;
    }
    .rc-ct{
        float: left;
    }
}
@media (max-width: 786px){
    .body-bg-img{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .secondary-img {
        display: none;
    }
    .feature-ct{
        top: 11%;
        left: 1%;
    }
    h1{
        font-size: 25px!important;
    }
    h2{
        font-size: 20px!important;
    }
    h3{
        font-size: 16px!important;
    }
    h4{
        font-size: 12px!important;
    }
    a,label{
        font-size: 10px!important;
    }
    h4{
        font-size: 10px!important;
    }
    .feature-ct-m3{
        font-size: 60px;
    }
    .feature-ct{
        top: 20%;
        left: 13%;
    }
}
@media (max-width: 1205px){
    .body-bg-img{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }   
    .secondary-img {
        display: none;
    }
}
#searchBox {
    border-radius: 55px;
    padding: 11px;
    /* background: #f0f3ff; */
    display: flex;
    align-items: center;
    /* box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7) */
}
#ggIcon {
    font-size: 28px;
    cursor: pointer;
}
input {
    border-bottom: 1px solid;
    padding-left: 12px;
    width: 0px;
    font-size: 20px;
    border: 0;
    background: transparent;
    outline: none;
    transition: 2s;
}
.active input{
    width: 210px;
    border-bottom: 1px solid;
    padding-left: 12px;
}

.form-log {
    list-style: none;
    background: white;
    position: absolute;
    top: 98%;
    width: 136px;
    height: 70px;
    left: -57%;
    cursor: pointer;
    transform-origin: 63px top;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
    animation: Growth ease-in 0.4s;
    display: none;
    z-index: 99;
}
.form-log li {
    top: -46px;
    padding: 5px 28px;
}
.form-log li a:hover {
    color: brown;
    text-decoration: none;
}
.form-log::before {
    content: "";
    border: 8px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 59px;
    top: -16px;
}
.navbar-header2-has-form:hover .form-log {
    display: block;
    margin-top: 5px;
}
.fa-user {
    font-size: 28px;
    line-height: 46px !important;
    color: #000;
    margin-right: 20px;
    margin-left: 20px;
}
@keyframes Growth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.fa-shopping-basket {
    margin-left: 20px;
}